@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

*{
    box-sizing: border-box;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

html {
  min-height: 100vh;
}

body { 
    background: url('../images/background.jpg') no-repeat center center fixed; 
    background-size: cover;
  }


.page-header {
    font-family: Righteous, serif;
    color: #fff;
    text-align: center;
    font-size: large;
    padding-top: 100px;
    margin: auto;
}

h2 {
    font-family: Raleway, serif;
    color: #fff;
    text-align: center;
    font-size: x-large;
    padding-top: 50px;
    margin: auto;
    width: 60%;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
    background-color:#FCA311;
    border-radius: 20px;
    font-family: Righteous, serif; 
    color: #fff;
    font-size: large;
    box-shadow: 0 10px 18px 0 rgba(225,225,225,0.2), 0 6px 20px 0 rgba(225,225,225,0.19);
}

.card {
  position: relative;
  background-color: blue;
  height: 100px;
  width: 80px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
}

.card.visible .card-back {
  transform: rotate(-180deg);
}

.card.visible .card-front {
  transform: rotateY(180deg);
}

.card-back {
  border-color: #273617;
}

.card-front {
  transform: rotateX(180deg);
}

.card-value {
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}

.card-front:hover .card-value {
  transform: scale(1);
}

.claws {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #fff;
  /*align-self: flex-start;
  transform: translateY(-10);
  transition: transform 100ms ease-in-out;*/
}

.claws-top-left {
  transform: rotate(270deg);
  top: 0;
  left: 0;
}

.claws-top-right {
  top: 0;
  right: 0;
}

.claws-bottom-left {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}

.claws-bottom-right {
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
}

.card-back:hover .claws {
  transform: translateY(0);
}


footer {
    position: inherit;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    margin-top: 40px;
}

footer p {
    font-family: Righteous, serif;
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.social-media {
    text-align: center;
    padding:inherit;
}
.social-media li {
    display: inline-block;
    color: #fff;
}

.social-media i {
    text-align: center;
    color: #fff;
    padding: 20px;
    width: 106px;

}












 

@media only screen and (min-width: 300px) {
    /* For mobile: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }