@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

html { 
    background: url('../images/background.jpg') no-repeat center center fixed; 
    background-size: cover;
  }

.page-header {
    font-family: Righteous;
    color: #fff;
    text-align: center;
    font-size: large;
    padding-top: 100px;
}

h2 {
    font-family: Raleway;
    color: #fff;
    text-align: center;
    font-size: x-large;
    padding-top: 50px;
    margin: auto;
    width: 60%;
}
.game-container {
    margin: auto;
    height:100px;
}

.game-info {
    margin-left: auto;
    margin-right: auto;
}

#timer {
    background-color:#FCA311;
    border-radius: 20px;
    font-family: Righteous;
    color: #fff;
    text-align: center;
    font-size: large;
    margin: 20px;
    padding: 20px;
    float: left;
}

#flips{
    background-color:#FCA311;
    border-radius: 20px;
    font-family: Righteous;
    color: #fff;
    text-align: center;
    font-size: large;
    margin: 20px;
    padding: 20px;
    float: right;
}

.game-wrap {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px;
    margin: auto;
}

.game-card {
    margin: 0 auto;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #14213D;
    display: inline-block;
    box-shadow: 0 10px 18px 0 rgba(225,225,225,0.2), 0 6px 20px 0 rgba(225,225,225,0.19);
}

.footer {
    width: 100%;
    height: fit-content;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    background-color: #14213D;
    color: #ffffff;
    text-align: center;
    font-family: Righteous;
    margin-top: 40px;
}

.footer p {
    text-align: center;
    color: #fff;
    padding-top: 20px;
}


.social-media {
    text-align: center;
    margin: auto;
}

.social-media > li {
    display: inline-block;
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.social-media i {
    font-size: large;
    color: #ffffff;
}












 /* For mobile phones: */
 [class*="col-"] {
    width: 100%;
}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
